<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardErrorPath</key>
	<string>/tmp/switchyubikey.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/switchyubikey.stdout</string>
	<key>Label</key>
	<string>com.switchyubikey.program</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/xpc_set_event_stream_handler</string>
		<string>/usr/local/bin/switchyubikey.sh</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.device-attach</key>
			<dict>
				<key>idVendor</key>
				<integer>4176</integer>
				<key>idProduct</key>
				<integer>1031</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOMatchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
